@using Web.ViewModels;
@model HomeVm
@{
    ViewData["Title"] = "Entradas Engee";
}

<partial name="_Notifications" />

<div id="divEntradas" class="mt-3">
    <partial name="_entrada.cshtml" for="@Model.Visita" view-data="@ViewData" />
</div>

<div id="divListado" class="mt-3">
    <partial name="_ListadoIngresos.cshtml" for="@Model.ListVisitas" view-data="@ViewData" />
</div>

<partial name="_ModalConfirm" />

@if (ViewData["errorMsg"] != null)
{

    <script>
        $(document).ready(() => {
            Message.show('@((string)ViewData["errorMsg"])',_TypeMessage.error)
       })
    </script>
}